.root {
    -fx-background-color: #f4f6f8;
}

.label {
    -fx-font-family: "SF Pro Display";
}

.button {
    -fx-background-color: white;
    -fx-border-color: #d9d9d9;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-font-size: 15px;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2E86DE;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #1B4F72;
}